<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.unidue.palaver">

    <application
        android:icon="@mipmap/ic_palaver_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.FriendManagerActivity" />
        <activity android:name=".activity.ChatManagerActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.ServiceFetchFriend" />
        <service android:name=".service.ServiceAddFriend" />
        <service android:name=".service.ServiceSendMessage" />
        <service android:name=".service.ServicePopulateDB"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="ManifestOrder" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>